<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.metrx_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>.mtrx_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Aring</string>
	</array>
	<key>.mtrx_Asmall</key>
	<array>
		<string>A.small</string>
		<string>Aacute.small</string>
		<string>Agrave.small</string>
		<string>Acircumflex.small</string>
		<string>Adieresis.small</string>
		<string>Atilde.small</string>
	</array>
	<key>.mtrx_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>.mtrx_Csmall</key>
	<array>
		<string>C.small</string>
		<string>Ccedilla.small</string>
	</array>
	<key>.mtrx_E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
	</array>
	<key>.mtrx_Esmall</key>
	<array>
		<string>E.small</string>
	</array>
	<key>.mtrx_G</key>
	<array>
		<string>G</string>
	</array>
	<key>.mtrx_Gsmall</key>
	<array>
		<string>G.small</string>
	</array>
	<key>.mtrx_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>.mtrx_Ismall</key>
	<array>
		<string>I.small</string>
	</array>
	<key>.mtrx_J</key>
	<array>
		<string>J</string>
	</array>
	<key>.mtrx_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>.mtrx_Nsmall</key>
	<array>
		<string>N.small</string>
	</array>
	<key>.mtrx_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>.mtrx_Osmall</key>
	<array>
		<string>O.small</string>
	</array>
	<key>.mtrx_R</key>
	<array>
		<string>R</string>
	</array>
	<key>.mtrx_Rsmall</key>
	<array>
		<string>R.small</string>
	</array>
	<key>.mtrx_S</key>
	<array>
		<string>S</string>
	</array>
	<key>.mtrx_Ssmall</key>
	<array>
		<string>S.small</string>
	</array>
	<key>.mtrx_T</key>
	<array>
		<string>T</string>
	</array>
	<key>.mtrx_Tsmall</key>
	<array>
		<string>T.small</string>
	</array>
	<key>.mtrx_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>.mtrx_Usmall</key>
	<array>
		<string>U.small</string>
	</array>
	<key>.mtrx_VWsmall</key>
	<array>
		<string>V.small</string>
		<string>W.small</string>
	</array>
	<key>.mtrx_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>.mtrx_Ysmall</key>
	<array>
		<string>Y.small</string>
	</array>
	<key>.mtrx_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>.mtrx_Zsmall</key>
	<array>
		<string>Z.small</string>
	</array>
	<key>.mtrx_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>.mtrx_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>.mtrx_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>.mtrx_g</key>
	<array>
		<string>g</string>
	</array>
	<key>.mtrx_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
	</array>
	<key>.mtrx_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>.mtrx_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
	</array>
	<key>.mtrx_r</key>
	<array>
		<string>r</string>
	</array>
	<key>.mtrx_s</key>
	<array>
		<string>s</string>
	</array>
	<key>.mtrx_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>.mtrx_vw</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>.mtrx_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>.mtrx_z</key>
	<array>
		<string>z</string>
	</array>
	<key>_kern_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Aring</string>
	</array>
	<key>_kern_Asmall</key>
	<array>
		<string>A.small</string>
		<string>Aacute.small</string>
		<string>Agrave.small</string>
		<string>Acircumflex.small</string>
		<string>Adieresis.small</string>
		<string>Atilde.small</string>
	</array>
	<key>_kern_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>_kern_Csmall</key>
	<array>
		<string>C.small</string>
		<string>Ccedilla.small</string>
	</array>
	<key>_kern_D</key>
	<array>
		<string>D</string>
	</array>
	<key>_kern_Dsmall</key>
	<array>
		<string>D.small</string>
	</array>
	<key>_kern_Esmall</key>
	<array>
		<string>E.small</string>
	</array>
	<key>_kern_G</key>
	<array>
		<string>G</string>
	</array>
	<key>_kern_Gsmall</key>
	<array>
		<string>G.small</string>
	</array>
	<key>_kern_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
	</array>
	<key>_kern_Ismall</key>
	<array>
		<string>I.small</string>
	</array>
	<key>_kern_J</key>
	<array>
		<string>J</string>
	</array>
	<key>_kern_Jsmall</key>
	<array>
		<string>J.small</string>
	</array>
	<key>_kern_L</key>
	<array>
		<string>L</string>
	</array>
	<key>_kern_Lsmall</key>
	<array>
		<string>L.small</string>
	</array>
	<key>_kern_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>_kern_Osmall</key>
	<array>
		<string>O.small</string>
	</array>
	<key>_kern_P</key>
	<array>
		<string>P</string>
	</array>
	<key>_kern_R</key>
	<array>
		<string>R</string>
	</array>
	<key>_kern_Rsmall</key>
	<array>
		<string>R.small</string>
	</array>
	<key>_kern_S</key>
	<array>
		<string>S</string>
	</array>
	<key>_kern_T</key>
	<array>
		<string>T</string>
	</array>
	<key>_kern_Tsmall</key>
	<array>
		<string>T.small</string>
	</array>
	<key>_kern_Usmall</key>
	<array>
		<string>U.small</string>
	</array>
	<key>_kern_VW</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>_kern_VWsmall</key>
	<array>
		<string>V.small</string>
		<string>W.small</string>
	</array>
	<key>_kern_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_kern_Ysmall</key>
	<array>
		<string>Y.small</string>
	</array>
	<key>_kern_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>_kern_Zsmall</key>
	<array>
		<string>Z.small</string>
	</array>
	<key>_kern_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>_kern_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>_kern_d</key>
	<array>
		<string>d</string>
	</array>
	<key>_kern_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>_kern_f</key>
	<array>
		<string>f</string>
	</array>
	<key>_kern_fi</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>_kern_g</key>
	<array>
		<string>g</string>
	</array>
	<key>_kern_ij</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
		<string>j</string>
	</array>
	<key>_kern_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>_kern_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oe</string>
	</array>
	<key>_kern_punkt</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>_kern_r</key>
	<array>
		<string>r</string>
	</array>
	<key>_kern_s</key>
	<array>
		<string>s</string>
	</array>
	<key>_kern_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>_kern_vwy</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_kern_z</key>
	<array>
		<string>z</string>
	</array>
	<key>onum</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>smcp1</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>smcp2</key>
	<array>
		<string>A.small</string>
		<string>B.small</string>
		<string>C.small</string>
		<string>D.small</string>
		<string>E.small</string>
		<string>F.small</string>
		<string>G.small</string>
		<string>H.small</string>
		<string>I.small</string>
		<string>J.small</string>
		<string>K.small</string>
		<string>L.small</string>
		<string>M.small</string>
		<string>N.small</string>
		<string>O.small</string>
		<string>P.small</string>
		<string>Q.small</string>
		<string>R.small</string>
		<string>S.small</string>
		<string>T.small</string>
		<string>U.small</string>
		<string>V.small</string>
		<string>W.small</string>
		<string>X.small</string>
		<string>Y.small</string>
		<string>Z.small</string>
		<string>Agrave.small</string>
		<string>Aacute.small</string>
		<string>Acircumflex.small</string>
		<string>Atilde.small</string>
		<string>Adieresis.small</string>
		<string>AE.small</string>
		<string>Ccedilla.small</string>
		<string>OE.small</string>
	</array>
	<key>supnum</key>
	<array>
		<string>onesuperior</string>
		<string>twosuperior</string>
	</array>
</dict>
</plist>
