<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>FontLab Mask</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<false/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Ydieresis</string>
				<string>Z</string>
				<string>AE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>OE</string>
				<string>A.small</string>
				<string>Agrave.small</string>
				<string>Aacute.small</string>
				<string>Acircumflex.small</string>
				<string>Atilde.small</string>
				<string>Adieresis.small</string>
				<string>B.small</string>
				<string>C.small</string>
				<string>Ccedilla.small</string>
				<string>D.small</string>
				<string>E.small</string>
				<string>F.small</string>
				<string>G.small</string>
				<string>H.small</string>
				<string>I.small</string>
				<string>J.small</string>
				<string>K.small</string>
				<string>L.small</string>
				<string>M.small</string>
				<string>N.small</string>
				<string>O.small</string>
				<string>P.small</string>
				<string>Q.small</string>
				<string>R.small</string>
				<string>S.small</string>
				<string>T.small</string>
				<string>U.small</string>
				<string>V.small</string>
				<string>W.small</string>
				<string>X.small</string>
				<string>Y.small</string>
				<string>Z.small</string>
				<string>AE.small</string>
				<string>OE.small</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>oe</string>
				<string>florin</string>
				<string>f_f</string>
				<string>fi</string>
				<string>fl</string>
				<string>f_f_i</string>
				<string>f_f_l</string>
				<string>mu</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>circumflex.cap</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero.LP</string>
				<string>one.LP</string>
				<string>two.LP</string>
				<string>three.LP</string>
				<string>four.LP</string>
				<string>five.LP</string>
				<string>six.LP</string>
				<string>seven.LP</string>
				<string>eight.LP</string>
				<string>nine.LP</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onesuperior</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>zerosuperior</string>
				<string>foursuperior</string>
				<string>fivesuperior</string>
				<string>sixsuperior</string>
				<string>sevensuperior</string>
				<string>eightsuperior</string>
				<string>ninesuperior</string>
				<string>zeroinferior</string>
				<string>oneinferior</string>
				<string>twoinferior</string>
				<string>threeinferior</string>
				<string>fourinferior</string>
				<string>fiveinferior</string>
				<string>sixinferior</string>
				<string>seveninferior</string>
				<string>eightinferior</string>
				<string>nineinferior</string>
				<string>seveneighths</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>bracketleft</string>
				<string>braceleft</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>parenright</string>
				<string>bracketright</string>
				<string>braceright</string>
				<string>guillemotleft</string>
				<string>quoteleft</string>
				<string>quotedblleft</string>
				<string>guilsinglleft</string>
				<string>guillemotright</string>
				<string>quoteright</string>
				<string>quotedblright</string>
				<string>guilsinglright</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>asterisk</string>
				<string>comma</string>
				<string>period</string>
				<string>slash</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>question</string>
				<string>at</string>
				<string>backslash</string>
				<string>exclamdown</string>
				<string>periodcentered</string>
				<string>questiondown</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>bullet</string>
				<string>ellipsis</string>
				<string>perthousand</string>
				<string>bullet.alt</string>
				<string>bullet.alt.joint</string>
				<string>bullet.open</string>
				<string>bullet.open.alt</string>
				<string>bullet.open.alt.joint</string>
				<string>bullet.open.joint</string>
				<string>plus</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>bar</string>
				<string>asciitilde</string>
				<string>logicalnot</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>fraction</string>
				<string>minus</string>
				<string>infinity</string>
				<string>approxequal</string>
				<string>notequal</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>Euro</string>
				<string>asciicircum</string>
				<string>grave</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>acute</string>
				<string>cedilla</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>grave.cap</string>
				<string>dieresis.cap</string>
				<string>acute.cap</string>
				<string>ring.cap</string>
				<string>tilde.cap</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>registered</string>
				<string>degree</string>
				<string>paragraph</string>
				<string>numero</string>
				<string>trademark</string>
				<string>uni261C</string>
				<string>uni261E</string>
				<string>uni2766</string>
				<string>numero.alt</string>
				<string>space</string>
				<string>.notdef</string>
				<string>olive</string>
				<string>rule.fina.l</string>
				<string>rule.fina.r</string>
				<string>olive.joint</string>
				<string>fleuron.long</string>
				<string>rule.long</string>
				<string>fleuron.long.l</string>
				<string>fleuron.long.r</string>
				<string>fleuron.mid</string>
				<string>rule.mid</string>
				<string>fleuron.mid.l</string>
				<string>fleuron.mid.r</string>
				<string>fleuron.short</string>
				<string>rule.short</string>
				<string>fleuron.short.l</string>
				<string>fleuron.short.r</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>fi</string>
		<string>fl</string>
		<string>space</string>
		<string>comma</string>
		<string>period</string>
		<string>quoteright</string>
		<string>hyphen</string>
		<string>acute</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>emdash</string>
		<string>endash</string>
		<string>asciicircum</string>
		<string>cedilla</string>
		<string>Ccedilla</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>ampersand</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>dotlessi</string>
		<string>dieresis</string>
		<string>ellipsis</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>ae</string>
		<string>question</string>
		<string>exclam</string>
		<string>ring</string>
		<string>tilde</string>
		<string>oe</string>
		<string>AE</string>
		<string>OE</string>
		<string>germandbls</string>
		<string>slash</string>
		<string>fraction</string>
		<string>backslash</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
		<string>ordmasculine</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>ugrave</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotesinglbase</string>
		<string>degree</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bar</string>
		<string>periodcentered</string>
		<string>plus</string>
		<string>numbersign</string>
		<string>bullet</string>
		<string>paragraph</string>
		<string>acute.cap</string>
		<string>grave.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>tilde.cap</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>ring.cap</string>
		<string>section</string>
		<string>olive</string>
		<string>olive.joint</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>uni261E</string>
		<string>uni261C</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>seveneighths</string>
		<string>underscore</string>
		<string>minus</string>
		<string>copyright</string>
		<string>registered</string>
		<string>percent</string>
		<string>equal</string>
		<string>multiply</string>
		<string>less</string>
		<string>greater</string>
		<string>at</string>
		<string>brokenbar</string>
		<string>perthousand</string>
		<string>Euro</string>
		<string>dollar</string>
		<string>yen</string>
		<string>sterling</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>trademark</string>
		<string>questiondown</string>
		<string>exclamdown</string>
		<string>ordfeminine</string>
		<string>florin</string>
		<string>uni2766</string>
		<string>f_f_l</string>
		<string>f_f_i</string>
		<string>f_f</string>
		<string>A.small</string>
		<string>B.small</string>
		<string>C.small</string>
		<string>D.small</string>
		<string>E.small</string>
		<string>F.small</string>
		<string>G.small</string>
		<string>H.small</string>
		<string>I.small</string>
		<string>J.small</string>
		<string>K.small</string>
		<string>L.small</string>
		<string>M.small</string>
		<string>N.small</string>
		<string>O.small</string>
		<string>P.small</string>
		<string>Q.small</string>
		<string>R.small</string>
		<string>S.small</string>
		<string>T.small</string>
		<string>U.small</string>
		<string>V.small</string>
		<string>W.small</string>
		<string>X.small</string>
		<string>Y.small</string>
		<string>Z.small</string>
		<string>Agrave.small</string>
		<string>Aacute.small</string>
		<string>Acircumflex.small</string>
		<string>Atilde.small</string>
		<string>Adieresis.small</string>
		<string>AE.small</string>
		<string>OE.small</string>
		<string>Ccedilla.small</string>
		<string>zero.LP</string>
		<string>one.LP</string>
		<string>two.LP</string>
		<string>three.LP</string>
		<string>four.LP</string>
		<string>five.LP</string>
		<string>six.LP</string>
		<string>seven.LP</string>
		<string>eight.LP</string>
		<string>nine.LP</string>
		<string>fleuron.mid.l</string>
		<string>fleuron.long.l</string>
		<string>fleuron.short.r</string>
		<string>fleuron.short.l</string>
		<string>fleuron.long</string>
		<string>fleuron.mid.r</string>
		<string>fleuron.long.r</string>
		<string>fleuron.short</string>
		<string>fleuron.mid</string>
		<string>rule.fina.l</string>
		<string>rule.fina.r</string>
		<string>rule.short</string>
		<string>rule.mid</string>
		<string>rule.long</string>
		<string>numero.alt</string>
		<string>numero</string>
		<string>bullet.alt</string>
		<string>bullet.open</string>
		<string>bullet.alt.joint</string>
		<string>bullet.open.alt.joint</string>
		<string>bullet.open.joint</string>
		<string>bullet.open.alt</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>notequal</string>
		<string>divide</string>
		<string>asciitilde</string>
		<string>approxequal</string>
		<string>infinity</string>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>OE</string>
		<string>A.small</string>
		<string>Agrave.small</string>
		<string>Aacute.small</string>
		<string>Acircumflex.small</string>
		<string>Atilde.small</string>
		<string>Adieresis.small</string>
		<string>B.small</string>
		<string>C.small</string>
		<string>Ccedilla.small</string>
		<string>D.small</string>
		<string>E.small</string>
		<string>F.small</string>
		<string>G.small</string>
		<string>H.small</string>
		<string>I.small</string>
		<string>J.small</string>
		<string>K.small</string>
		<string>L.small</string>
		<string>M.small</string>
		<string>N.small</string>
		<string>O.small</string>
		<string>P.small</string>
		<string>Q.small</string>
		<string>R.small</string>
		<string>S.small</string>
		<string>T.small</string>
		<string>U.small</string>
		<string>V.small</string>
		<string>W.small</string>
		<string>X.small</string>
		<string>Y.small</string>
		<string>Z.small</string>
		<string>AE.small</string>
		<string>OE.small</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>oe</string>
		<string>florin</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>mu</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>circumflex.cap</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.LP</string>
		<string>one.LP</string>
		<string>two.LP</string>
		<string>three.LP</string>
		<string>four.LP</string>
		<string>five.LP</string>
		<string>six.LP</string>
		<string>seven.LP</string>
		<string>eight.LP</string>
		<string>nine.LP</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>zerosuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>seveneighths</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>guillemotleft</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>guilsinglleft</string>
		<string>guillemotright</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>guilsinglright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>bullet.alt</string>
		<string>bullet.alt.joint</string>
		<string>bullet.open</string>
		<string>bullet.open.alt</string>
		<string>bullet.open.alt.joint</string>
		<string>bullet.open.joint</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>fraction</string>
		<string>minus</string>
		<string>infinity</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>Euro</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>grave.cap</string>
		<string>dieresis.cap</string>
		<string>acute.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>numero</string>
		<string>trademark</string>
		<string>uni261C</string>
		<string>uni261E</string>
		<string>uni2766</string>
		<string>numero.alt</string>
		<string>space</string>
		<string>.notdef</string>
		<string>olive</string>
		<string>rule.fina.l</string>
		<string>rule.fina.r</string>
		<string>olive.joint</string>
		<string>fleuron.long</string>
		<string>rule.long</string>
		<string>fleuron.long.l</string>
		<string>fleuron.long.r</string>
		<string>fleuron.mid</string>
		<string>rule.mid</string>
		<string>fleuron.mid.l</string>
		<string>fleuron.mid.r</string>
		<string>fleuron.short</string>
		<string>rule.short</string>
		<string>fleuron.short.l</string>
		<string>fleuron.short.r</string>
	</array>
</dict>
</plist>
